<div class="row justify-content-center vh-100">
  <div class="col-md-6">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <h2 class="text-center mb-4">My Profile</h2>

      <div class="form-floating mb-4">
        <%= f.email_field :email, class: "form-control", id: "MyProfileEmail" %>
        <%= f.label :email, class: "form-label", autofocus: true, autocomplete: "email", for: "MyProfileEmail" do %>
          Email Address
        <% end %>
      </div>

      <div class="form-floating mb-4">
        <%= f.password_field :password, class: "form-control", autocomplete: "new-password", id: "MyProfilePassword" %>
         <i>(leave blank if you don't want to change it)</i>
        <%= f.label :password, class: "form-label", for: "MyProfilePassword" do %>
          Password
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        <% end %>
      </div>

      <div class="form-floating mb-4">
        <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password", id: "MyProfilePasswordConf" %>
        <%= f.label :password_confirmation, class: "form-label", for: "MyProfilePasswordConf" do %>
          Password Confirmation
        <% end %>
      </div>

      <div class="form-floating mb-4">
        <%= f.password_field :current_password , class: "form-control", autocomplete: "new-password", id: "MyProfilePasswordConf" %>
         <i>(we need your current password to confirm your changes)</i>
        <%= f.label :current_password , class: "form-label", for: "MyProfilePasswordConf" do %>
          Current Password
        <% end %>
      </div>

      <div class="">
        <%= f.submit "Update", class: "btn btn-primary btn-block mb-4 w-100" %>
      </div>

      <div class="text-center">
        <div class="d-flex-column justify-content-center">
          <h3 class="mt-4">Cancel my account</h3>

          <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), class: "btn btn-primary btn-block mt-2 w-50", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

        </div>
      </div>
    <% end %>
  </div>
</div>

