<div class="row justify-content-center vh-100">
  <div class="col-md-6">

    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <h2 class="text-center mb-4">Resend Unlock Instructions</h2>

      <div class="form-floating mb-4">
        <%= f.email_field :email, class: "form-control", id: "UnlockEmail" %>
        <%= f.label :email, class: "form-label", autofocus: true, autocomplete: "email", for: "UnlockEmail" do %>
          Email Address
        <% end %>
      </div>

      <div class="">
        <%= f.submit "Resend Unlock Instructions", class: "btn btn-primary btn-block mb-4 w-100" %>
      </div>

      <div class="text-center">
        <div class="d-flex-column justify-content-center">
        <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>
  </div>
</div>


