<div class="row justify-content-center vh-100">
  <div class="col-md-6">

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <h2 class="text-center mb-4">Change Your Password</h2>

      <%= f.hidden_field :reset_password_token %>

      <div class="form-floating mb-4">
        <%= f.password_field :password, class: "form-control", autocomplete: "new-password", id: "EditPassword" %>
        <%= f.label :password, class: "form-label", for: "EditPassword" do %>
          Password
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        <% end %>
      </div>

      <div class="form-floating mb-4">
        <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password", id: "EditPasswordConfirmation" %>
        <%= f.label :password_confirmation, class: "form-label", for: "EditPasswordConfirmation" do %>
          Password Confirmation
        <% end %>
      </div>

      <div class="">
        <%= f.submit "Change my Password", class: "btn btn-primary btn-block mb-4 w-100" %>
      </div>

      <div class="text-center">
        <div class="d-flex-column justify-content-center">
        <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>
  </div>
</div>


