<p style="color: green"><%= notice %></p>

<%= render @division %>

<div>
<% if admin? %>
  <%= link_to "Edit this division", edit_division_path(@division) %> |
<% end %>
  <%= link_to "Back to divisions", divisions_path %>

  <%= button_to "Destroy this division", @division, method: :delete if admin? %>
</div>
