<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Bible Books</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline d-flex ms-md-auto mt-2" action="/search_related_words">
                <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success mx-2 my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav ms-md-auto">
                <li class="nav-item active">
                <%= link_to "Create Division", new_division_path, class: 'nav-link'  %>
                </li>

                <li class="nav-item active">
                <%= link_to "Create Book", new_book_path, class: 'nav-link' %>
                </li>

                <li class="nav-item active">
                <%= link_to "Create Verse", new_verse_path, class: 'nav-link'  %>
                </li>

                <li class="nav-item active">
                <%= link_to "Divisions", divisions_path, class: 'nav-link'  %>
                </li>

                <li class="nav-item active">
                <%= link_to "Books", books_path, class: 'nav-link'  %>
                </li>

                <li class="nav-item active">
                <%= link_to "Verses", verses_path, class: 'nav-link'  %>
                </li>
            </ul>
        </div>
    </div>
</nav>