<p id="notice"><%= notice %></p>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Verses</h1>
            <%= link_to 'Create New Verse', new_verse_path, class: 'btn btn-outline-primary' if admin? %>
        </div>
        <div class="col-md-8">
            <div class="row" >
                <% @verses.each do |verse| %>
                        <div class="card mt-3 ">
                            <div class="card-body">
                                <h3><%= "#{verse.book.title} #{verse.chapter.chapter_no}:#{verse.verse_no}" %></h3>
                                <%= verse.content.gsub("<br/>", " ") %>
                                <br>
                                <%= link_to 'Show', verse, class: 'btn btn-outline-primary' %>
                                <% if admin? %>
                                    <%= link_to 'Edit', edit_verse_path(verse), class: 'btn btn-outline-primary'  %>
                                    <%= link_to 'Destroy', verse, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-primary'  %>
                                <% end %>
                            </div>
                        </div>
                <% end %> 
                <div class="bb_pagination mb-4">
                    <div class="page_info mb-2">
                        <%= page_entries_info @verses, {entry_name: 'Verse'} %>
                    </div> 
                    <%= will_paginate @verses, :container => false %>
                </div>
            </div>
        </div>

        <div class="col-md-4">  
            <div class="card mt-3">
                <div class="card-header">
                    Books
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <% @books.each do |book| %>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <%= link_to book.title, verses_path(:div => book.id) %>
                            <span class="badge bg-primary rounded-pill"> <%= book.verses.count %> </span>
                        </li>
                        <% end %>
                    </ul>
                </div> 
            </div>    
        </div>
    </div>
</div>
